

<h2>Details</h2>
<div class:"row" >
    <div>User Name: @ViewBag.details.user_data.user_name</div>
    <div>News Title: @ViewBag.details.title</div>
    <div>Description: @ViewBag.details.description</div>
</div>